// Color Variables
// Primary Color Values
$primary-dark-blue: #0A2240;
$primary-light-blue: #758699;
$primary-mid-grey: #BFC6C8;
$primary-light-grey: #F2F2F2;
$primary-white: #FFFFFF;

// Action & Nav Colors
$action: #4FBFA5;
$action-nav: #00B9F2;
$nav-background-active: #394B65;


// Box Shadow
$box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
