@import '../../colors';

// Header
.header {
  float: right;
  margin: 0 0 2% 0;
  padding-left: 7%;
  .title {
    margin: 2% 0 2% 0;
  }
  .header-actions {
    display: flex;
    .dropdown {
      background-color: $primary-white;
      height: 40px;
      padding: 1%;
      width: 20vw;
      a {
        i {
          height: 1em;
          margin-left: 80%;
        }
      }
      .dropdown-menu {
        width: 20vw;
      }
    }
    .search {
      background-color: $primary-white;
      border-radius: 2px;
      display: flex;
      height: 40px;
      margin: 0 8.5% 0 auto;
      width: 20vw;
      input {
        background-color: transparent;
        border: none;
        font-size: 1.2em;
        width: 90%;
      }
      input:focus {
        border: none;
        box-shadow: none;
      }
      i {
        margin: 4% 0 0 3%;
      }
    }
  }
}
// Main Body
.main-body {
  padding-left: 6%;
  .list-filters {
    display: inline;
    h4 {
      float: left;
      font-size: 12px;
      margin: 0 8%;
      text-transform: uppercase;
      i {
        font-size: 1em;
      }
    }
    .filter-arrows {
      height: 3em;
      .top {
        margin: 0 0 0 2%;
      }
      .bottom {
        margin: 0 0 0 15.7%;
      }
    }
  }
}
  // DATA LIST
  .lock-list {
    margin: 1% 0 0 0;
    .panel {
      border-radius: 2px;
      position: relative;
      margin-bottom: 0.2%;
      div {
        h3 {
          margin-top: 1.7%;
        }
      }
      .check {
        -webkit-appearance: none;
      	border: 1px solid $primary-mid-grey;
      	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
      	padding: 10px;
      	border-radius: 3px;
      	display: inline-block;
      	position: relative;
        float: left;
        margin: 2.2% 5% 2.7% 1%;
      }
      .check:checked {
        background-color: $action;
      }
      .check:checked:after {
        color: $primary-white;
        content: '\2713';
      	font-size: 14px;
      	position: absolute;
      	top: 0px;
      	left: 3px;
      }
      .check:checked + .check-label {
        border: 1px solid $action;
        color: $primary-white;
        height: 100%;
        position: absolute;
        margin-left: -3.7%;
        width: 102%;
      }
      .name {
        float: left;
        padding: 0.5% 0 0 0;
        width: 24%;
      }
      .auth {
        float: left;
        padding: 0.5% 0 0 0;
        width: 23%;
        margin-right: 2.5%;
      }
      .form {
        float: left;
        padding: 0.5% 0 0 0;
        width: 21%;
        margin-right: 5%;
      }
      .win {
        float: left;
        padding: 0.5% 0 0 0;
      }
    }
  }

// MODAL
.modal-popup {
  background-color: #000E20;
  height: 15vh;
  margin: 55% 0 0 16.7%;
  position: fixed;
  opacity: 0.8;
  width: 84%;
  .modal-content {
    background-color: transparent;
    h3 {
      color: $primary-white;
      font-size: 1.5em;
      float: left;
      margin: 5% 0 0 7%;
    }
    .buttons {
      float: right;
      margin: 5% 9% 0 0;
    }
  }
}

.modal-popup-false {
  display: none;
}

// Alert Message
.modal {
  width: 65vw;
  .modal-body {
    background-color: $primary-white;
    border-radius: 2px;
    margin: 10% 0 0 0;
    width: 30vw;
    .modal-title {
      border-bottom: 2px solid $primary-mid-grey;
      height: 3vh;
      padding: 0 0 0 3%;
      width: 100%;
    }
    .modal-body-content {
      margin: 10% 0 0 6%;
      .btn-group {
        margin: 5% 0 2% 40%;
      }
    }
  }
}

@media (min-width: 1440px) {
  .header {
    .search {
      input {
        font-size: 1.2em;
        height: 100%;
        width: 90%;
      }
      i {
        margin: 0 2% 0 0;
      }
    }
  }
  .main-body {
    .list-filters {
      margin-bottom: 2%;
      margin-left: -10%;
      h4 {
        font-size: 14px;
        // margin: 0 8%;
        i {
          font-size: 1em;
        }
      }
      h4:nth-child(1) {
        margin: 0 0 0 5%;
      }
      h4:nth-child(2) {
        margin: 0 0 0 15%;
      }
      h4:nth-child(3) {
        margin: 0 0 0 13%;
      }
      h4:nth-child(4) {
        margin: 0 0 0 12%;
      }
    }
  }

  .lock-list {
    margin-left: -10%;
    .panel {
      h3 {
        font-size: 15px;
      }
      .check {
        margin: 2% 0;
      }
      .check:checked:after {
      	left: 5px;
      }
      .name {
        margin-left: 3%;
        width: 22%;
      }
      .auth {
        width: 21%;
      }
      .form {
        width: 19%;
      }
    }
  }
}

@media (min-width: 1280px) and (max-width: 1439px) {
  .header {
    .header-actions {
      .dropdown {
        padding: 1% 0;
        a {
          margin: 0 0 0 4%;
          i {
            margin: -5% 0 0 70%;
          }
        }
      }
      .search {
        margin-left: 45%;
        input {
          background-color: transparent;
          font-size: 1.2em;
          height: 100%;
          width: 90%;
        }
        i {
          margin: 5% 2% 0 0;
        }
      }
    }
  }
  .main-body {
    .list-filters {
      margin-bottom: 2%;
      margin-left: -12%;
      h4 {
        font-size: 12px;
        margin: 0 6%;
        i {
          font-size: 1em;
        }
      }
      h4:nth-child(1) {
        margin: 0 0 0 5%;
      }
      h4:nth-child(2) {
        margin: 0 0 0 15%;
      }
      h4:nth-child(3) {
        margin: 0 0 0 12%;
      }
      h4:nth-child(4) {
        margin: 0 0 0 10%;
      }
    }
  }

  .lock-list {
    margin-left: -10%;
    .panel {
      height: 60px;
      h3 {
        font-size: 14px;
      }
      .check {
        left: 5px;
        margin-left: -1.5%;
      }
      .check:checked:after {
        left: 2px;
      }
      .check:checked + .check-label {
        margin-left: -3%;
      }
      .name {
        margin-left: -3%;
        padding-top: 1%;
        width: 22%;
      }
      .auth {
        padding-top: 1%;
        width: 19%;
      }
      .form {
        padding-top: 1%;
        width: 17%;
      }
      .win {
        padding-top: 1%;
      }
    }
  }

  // MODAL
  .modal-popup {
    height: 12vh;
    margin: 51% 0 0 16.5%;
    width: 85%;
    .modal-content {
      margin-left: 3%;
      .buttons {
        margin-right: 10%;
      }
    }
  }

  .modal {
    .modal-body {
      margin: 30% 0 30% 40%;
      width: 40vw;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .header {
    .header-actions {
      .dropdown {
        padding: 1% 0;
        a {
          margin: 0 0 0 7%;
          i {
            margin: -4% 0 0 60%;
          }
        }
      }
      .search {
        margin-left: 45%;
        input {
          background-color: transparent;
          font-size: 1.2em;
          height: 100%;
          width: 90%;
        }
        i {
          margin: 6% 2% 0 0;
        }
      }
    }
  }
  .main-body {
    .list-filters {
      margin-bottom: 2%;
      margin-left: -10%;
      h4 {
        font-size: 12px;
        margin: 0 6%;
        i {
          font-size: 1em;
        }
      }
      h4:nth-child(1) {
        margin: 0 0 0 5%;
      }
      h4:nth-child(2) {
        margin: 0 0 0 15%;
      }
      h4:nth-child(3) {
        margin: 0 0 0 12%;
      }
      h4:nth-child(4) {
        margin: 0 0 0 10%;
      }
    }
  }

  .lock-list {
    margin-left: -10%;
    .panel {
      height: 50px;
      h3 {
        font-size: 14px;
      }
      .check {
        margin: 2% 0 0 0;
      }
      .check:checked:after {
        left: 5px;
      }
      .check:checked + .check-label {
        margin-left: -4.45%;
      }
      .name {
        padding: 0.5% 0 0 0;
        width: 22%;
      }
      .auth {
        padding: 0.5% 0 0 0;
        width: 20%;
      }
      .form {
        padding: 0.5% 0 0 0;
        width: 18%;
      }
      .win {
        padding: 0.5% 0 0 0;
      }
    }
  }

  // MODAL
  .modal-popup {
    height: 12vh;
    margin: 50% 0 0 15.2%;
    width: 85%;
    .modal-content {
      .buttons {
        margin-right: 20%;
      }
    }
  }

  .modal {
    .modal-body {
      width: 50vw;
    }
  }
}
