@import '../../colors';

// Main Nav
.nav-title {
  box-shadow: $box-shadow;
  color: $primary-white;
  height: 6vh;
  width: 105%;
}

.nav-menu {
  background-color: $primary-dark-blue;
  color: $primary-white;
}

.nav > li {
  margin: 6% 0 0 0;
  padding: 0;
}

.nav > li > a {
  color: $primary-mid-grey;
  padding: 5% 25px;
  width: 105%;
}

.nav > li > a:active, .nav > li > a:focus {
  background-color: $nav-background-active;
  border-left: 6px solid $action-nav;
  color: $primary-white !important;
  height: 5vh;
  margin: 0 0 -10% 0;
  padding: 7% 0 0 9%;
}

.active {
  background-color: $nav-background-active;
  border-left: 6px solid $action-nav;
  color: $primary-white !important;
  height: 5vh;
  margin: 0 0 -10% 0;
  padding: 7% 0 0 9%;
}

.nav > li > a:hover {
  background-color: $nav-background-active;
  color: $primary-white;
}

// Menu Title
.search {
  color: $primary-white;
  height: 100%;
  margin: 0 12% 0 0;
  width: 100%;
  .logo {
    float: left;
    margin: 7% 30% 0 10%;
    width: 80px;
  }
  i.search-icon {
    float: right;
    margin: 8% 5% 0 0;
  }
  input {
    display: none;
  }
  i.clear {
    display: none;
  }
}

.search-box {
  .logo {
    display: none;
  }
  i.search-icon {
    float: left;
    margin: 8% 0 0 4%;
  }
  input {
    background-color: transparent;
    border: 0px;
    color: $primary-white;
    float: left;
    font-size: 1.2em;
    margin: 5% -5% 5% -7%;
    padding-left: 10%;
    width: 14vw;
  }
  input::-webkit-input-placeholder {
    color: $primary-white;
  }
  input:focus {
    border: none;
    box-shadow: none;
  }
  i.clear {
    font-size: 1.2em;
    float: right;
    margin: 8% 7% 0 0;
  }
}

// Menu
.submenu {
  background-color: $nav-background-active;
  padding: 2% 0 2% 15%;
  width: 107%;
}

@media (min-width: 1280px) and (max-width: 1440px) {
  .nav > li > a {
    width: 107%;
  }

  .nav > li > a:active, .nav > li > a:focus {
    width: 107%;
  }

  .nav > li > a:hover {
    width: 107%;
  }

  .submenu {
    width: 107%;
  }
}

// SMALL DESKTOP/LAPTOP
@media (min-width: 1024px) and (max-width: 1279px) {
  .nav > li > a {
    width: 107%;
  }

  .nav > li > a:hover {
    width: 107%;
  }

  .nav > li > a:active, .nav > li > a:focus {
    width: 107%;
  }

  .nav-title {
    width: 107%;
  }
  .search {
    .logo {
      margin: 7% 25% 0 10%;
    }
    i.search-icon {
      margin: 8% 6% 0 0;
    }
  }
  .search-box {
    i.search-icon {
      margin: 10% 0 0 7%;
    }
    input {
      font-size: 1em;
      margin-right: -5%;
      width: 11vw;
    }
    i.clear {
      margin-top: 10%;
    }
  }

  .nav-link-active {
    width: 109%;
  }

  .submenu {
    padding: 2% 5% 2% 15%;
    width: 107%;
  }

}
